@font-face {
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/comfortaa/v40/1Pt_g8LJRfWJmhDAuUsSQamb1W0lwk4S4TbMPrQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/comfortaa/v40/1Pt_g8LJRfWJmhDAuUsSQamb1W0lwk4S4WjMPrQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/comfortaa/v40/1Pt_g8LJRfWJmhDAuUsSQamb1W0lwk4S4VrMPrQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/comfortaa/v40/1Pt_g8LJRfWJmhDAuUsSQamb1W0lwk4S4bbLPrQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/comfortaa/v40/1Pt_g8LJRfWJmhDAuUsSQamb1W0lwk4S4Y_LPrQ.ttf) format('truetype');
}
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden !important;
  font-weight: 500;
  box-sizing: border-box;
  font-family: 'Comfortaa', cursive !important;
}
.blue-snackbar {
  background: #1c2934 !important;
  color: #fff !important;
}
.login-snackbar {
  color: #fff !important;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  border-radius: 5px;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.25);
}
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #282828;
}
h1,
h2,
h3,
h4,
h5 {
  color: #282828;
}
input {
  border: 4px solid #282828;
}
.mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
  color: #1c2934 !important;
  border-width: 20px !important;
}
.mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-start,
.mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-end,
.mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-gap {
  border-width: 3px !important;
}
.mat-form-field-appearance-outline .mat-form-field-flex {
  display: flex !important;
  align-items: center !important;
}
.mat-form-field-appearance-outline .mat-form-field-outline {
  color: #282828;
  border-width: 5px !important;
}
label,
mat-label {
  color: #282828;
}
mat-label {
  font-size: 16px;
  font-weight: bold;
}
@media screen and (max-width: 576px) {
  .mat-paginator {
    width: 100% !important;
    text-align: start !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
  }
  .content-paginator {
    padding: 0 !important;
  }
  .mat-paginator-container {
    padding: 0px !important;
    margin: 0 -50px;
  }
  .mat-paginator-page-size-select {
    margin: 0px !important;
    width: 50px !important;
    height: 50px !important;
  }
}
.mat-option {
  padding: 0px 10px !important;
  margin: 5px 5px;
  font-size: 16px;
  letter-spacing: 0.1px;
  height: 46px !important;
  opacity: 0.8;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
/* // .dialog-responsive {
//   width: 30%;
// }

// @media screen and (max-width: 1246px) {
//   .dialog-responsive {
//     width: 50%;
//   }
// }

// //862
// @media screen and (max-width: 862px) {
//   .dialog-responsive {
//     width: 80%;
//   }
// }


// @media only screen and (max-width: 760px) {
//   .dialog-responsive {
//       width: 100%;
//   }
// } */
.dialog-responsive {
  width: 80% !important;
}
.dialog-add-client {
  width: 30% !important;
}
.dialog-responsive-transaction {
  width: 70% !important;
}
.dialog-responsive-update-product {
  width: 60% !important;
}
.dialog-responsive-box {
  width: 55%;
}
@media screen and (max-width: 1840px) {
  .dialog-add-client {
    width: 33% !important;
  }
}
@media screen and (max-width: 1166px) {
  .dialog-add-client {
    width: 43% !important;
  }
}
@media screen and (max-width: 883px) {
  .dialog-add-client {
    width: 53% !important;
  }
}
@media screen and (max-width: 958px) {
  .dialog-responsive-box {
    width: 80%;
  }
}
@media screen and (max-width: 1198px) {
  .dialog-responsive-box {
    width: 80%;
  }
}
@media screen and (max-width: 556px) {
  .dialog-responsive-box {
    width: 100%;
  }
}
.dialog-responsive-user {
  width: 50% !important;
}
@media screen and (max-width: 1296px) {
  .dialog-responsive-update-product {
    width: 70% !important;
  }
}
@media screen and (max-width: 1195px) {
  .dialog-responsive-update-product {
    width: 55% !important;
  }
}
@media screen and (max-width: 872px) {
  .dialog-responsive-update-product {
    width: 65% !important;
  }
}
@media screen and (max-width: 728px) {
  .dialog-responsive-update-product {
    width: 78% !important;
  }
}
@media screen and (max-width: 1586px) {
  .dialog-responsive,
  .dialog-responsive-transaction {
    width: 82% !important;
  }
}
@media screen and (max-width: 1293px) {
  .dialog-responsive,
  .dialog-responsive-transaction {
    max-width: 100vw !important;
    width: 90vw !important;
  }
}
@media screen and (max-width: 1246px) {
  .dialog-responsive,
  .dialog-responsive-transaction {
    width: 80%;
  }
  .dialog-responsive-user {
    width: 60% !important;
  }
}
@media screen and (max-width: 862px) {
  .dialog-responsive,
  .dialog-responsive-transaction {
    width: 95%;
  }
  .dialog-responsive-user {
    width: 85% !important;
  }
}
@media only screen and (max-width: 760px) {
  .dialog-responsive,
  .dialog-responsive-transaction {
    max-width: 100vw !important;
    width: 97vw !important;
    height: auto !important;
  }
  .dialog-responsive-user {
    max-width: 100vw !important;
    width: 97vw !important;
    height: auto !important;
  }
  .dialog-responsive-box {
    max-width: 100vw !important;
    width: 97vw !important;
    height: auto !important;
  }
  .dialog-responsive-update-product {
    max-width: 100vw !important;
    width: 97vw !important;
    height: auto !important;
  }
  .dialog-add-client {
    max-width: 100vw !important;
    width: 97vw !important;
    height: auto !important;
  }
}
