<section class="container">
  <div class="content-form">
    <div class="row">
      <div class="col-8">
        <form autocomplete="off">
          <h2>Lista de Empleados</h2>
          <br>
          <div class="box">
            <div class="container-1">
                <span class="icon"><i class="fa fa-search"></i></span>
                <input type="search" id="search" placeholder="Buscar Empleado" matInput
                [formControl]="controlSearch"
                [matAutocomplete]="auto"/>
                <mat-autocomplete #auto="matAutocomplete" [displayWith]="showNameProduct" (optionSelected)="selectName($event)">
                  <mat-option
                    *ngFor="let option of filteredOptions | async"
                    [value]="option"

                  >
                    <span class="serial">{{ option.name }} {{ option.firstSurname }}</span>
                  </mat-option>
                </mat-autocomplete>
            </div>
          </div>
        </form>
      </div>
      <div class="col-4">
        <div class="content-btn">
          <button class="btn btn-color" (click)="addEmployee()">
            Añadir <i class="fa-solid fa-plus"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="content-pagination" *ngIf="employees.length > 0">
    <!-- <app-table-employee  (setName)="getName($event)"></app-table-employee> -->
    <section class="ftco-section">
      <div class="container">

        <div class="row" >
          <div class="col-md-12">
            <div class="table-wrap">
              <table class="table table-responsive-xl">
                <thead>
                  <tr>
                    <th>No.</th>
                    <th>Primer Nombre</th>
                    <th>Otros Nombres</th>
                    <th>Primer Apellido</th>
                    <th>Correo</th>
                    <th>Acciones</th>
                  </tr>
                </thead>
                <tbody *ngFor="let item of employees; let i = index">
                  <tr class="alert" role="alert">
                    <td>
                      {{ item.employeeId }}
                    </td>
                    <td class="d-flex align-items-center">
                      <div class="pl-3 email ml-1">
                        <span>{{item?.name}}</span>
                        <span>Pais: {{item?.country}}</span>
                      </div>
                    </td>
                    <td>{{item?.otherName}}</td>
                    <td> {{ item?.firstSurname }} </td>
                    <td> {{ item?.email }} </td>
                    <!-- <td class="status"><span class="active">Active</span></td> -->
                    <td>
                      <a  (click)="deleteProduct(item.employeeId)" type="button" class="close d-flex justify-content-center" data-dismiss="alert" aria-label="Close">
                        <i matTooltip="Elimianar registro" class="fa-solid fa-trash color-icon"></i>
                      </a>
                    </td>
                  </tr>

                </tbody>
              </table>
            </div>
          </div>
        </div>
        <app-paginator *ngIf="setPaginator" [paginator]="setPaginator"></app-paginator>
      </div>
    </section>
  </div>
  <div *ngIf="employees.length === 0" class="d-block text-center">
    <h2>No hay registros creados.</h2>
    <img src="../../../../../assets/img/no_found.svg" alt="">
  </div>
</section>
