.content-form {
  margin-top: 50px;
  margin-bottom: 20px;
  background: #fff;
  border-radius: 14px;
  box-shadow: inset;
  width: 100%;
  padding: 25px 15px;
}
.content-pagination {
  background: #fff;
  border-radius: 14px;
  box-shadow: inset;
  width: 100%;
  padding: 0 10px;
}
.container-1 {
  width: 500px;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
}
.content-btn {
  margin-top: 70px;
  display: flex;
  justify-content: end;
}
.btn-color {
  color: #fff;
  background: #282828;
  text-align: center;
  padding: 10px 20px;
  border-radius: 10px;
}
.container-1 input#search {
  width: 500px;
  height: 50px;
  background: #EBEBEB;
  border: none;
  font-size: 10pt;
  float: left;
  color: #63717f;
  padding-left: 45px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  border-color: #4f5b66;
  -webkit-transition: background 0.55s ease;
  -moz-transition: background 0.55s ease;
  -ms-transition: background 0.55s ease;
  -o-transition: background 0.55s ease;
  transition: background 0.55s ease;
}
.container-1 input#search::-webkit-input-placeholder {
  color: #65737e;
}
.container-1 input#search:-moz-placeholder {
  /* Firefox 18- */
  color: #65737e;
}
.container-1 input#search::-moz-placeholder {
  /* Firefox 19+ */
  color: #65737e;
}
.container-1 input#search:-ms-input-placeholder {
  color: #65737e;
}
.container-1 .icon {
  position: absolute;
  top: 50%;
  margin-left: 17px;
  margin-top: 17px;
  z-index: 2;
  color: #4f5b66;
}
.ftco-no-pt {
  padding-top: 0;
}
.ftco-no-pb {
  padding-bottom: 0;
}
.heading-section {
  font-size: 28px;
  color: #000;
}
.img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.table {
  min-width: 1000px !important;
  width: 100%;
  -webkit-box-shadow: 0px 5px 12px -12px rgba(0, 0, 0, 0.29);
  -moz-box-shadow: 0px 5px 12px -12px rgba(0, 0, 0, 0.29);
  box-shadow: 0px 5px 12px -12px rgba(0, 0, 0, 0.29);
}
.table thead th {
  border: none;
  padding: 30px;
  font-size: 13px;
  font-weight: 500;
  color: gray;
}
.table thead tr {
  background: #fff;
  border-bottom: 4px solid #eceffa;
}
.table tbody tr {
  margin-bottom: 10px;
  border-bottom: 4px solid #f8f9fd;
}
.table tbody tr:last-child {
  border-bottom: 0;
}
.table tbody th,
.table tbody td {
  border: none;
  padding: 30px;
  font-size: 14px;
  background: #fff;
  vertical-align: middle;
}
.table tbody td.status span {
  position: relative;
  border-radius: 30px;
  padding: 4px 10px 4px 25px;
}
.table tbody td.status span:after {
  position: absolute;
  top: 9px;
  left: 10px;
  width: 10px;
  height: 10px;
  content: '';
  border-radius: 50%;
}
.table tbody td.status .active {
  background: #cff6dd;
  color: #1fa750;
}
.table tbody td.status .active:after {
  background: #23bd5a;
}
.table tbody td.status .waiting {
  background: #fdf5dd;
  color: #cfa00c;
}
.table tbody td.status .waiting:after {
  background: #f2be1d;
}
.table tbody td .img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.table tbody td .email span {
  display: block;
}
.table tbody td .email span:last-child {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.3);
}
.table tbody td .close span {
  font-size: 12px;
  color: #dc3545;
}
.checkbox-wrap {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* Hide the browser's default checkbox */
.checkbox-wrap input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
}
/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "\f0c8";
  position: absolute;
  color: rgba(0, 0, 0, 0.1);
  font-size: 20px;
  margin-top: -14px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
@media (prefers-reduced-motion: reduce) {
  .checkmark:after {
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
  }
}
/* Show the checkmark when checked */
.checkbox-wrap input:checked ~ .checkmark:after {
  display: block;
  content: "\f14a";
  color: rgba(0, 0, 0, 0.2);
}
/* Style the checkmark/indicator */
.checkbox-primary {
  color: #40bfc1;
}
.checkbox-primary input:checked ~ .checkmark:after {
  color: #40bfc1;
}
.color-icon {
  color: red;
}
