<div class="container-fluid mt-4 animate__animated animate__fadeIn">
  <div class="row mb-4 mt-1">
    <div class="col-12">
      <div class="text-center">
        <h2>Prueba Tecnica Jose Luis Cardona</h2>
        <br>
        <p class="pr">Cordial Saludo, para empezar a realizar el ejercicio o revisar el reto, dar click en el menu superior izquierdo y seleccionar la opción "Ver Empleados".</p>
      </div>
    </div>
  </div>
</div>
