.title-create-schools {
  font-weight: bold;
  letter-spacing: 3.12px;
  color: #1c2934;
  font-size: 1.7rem;
}

// .input-file {
//   display: none;
// }

.col-fields {
  padding-top: 2px;
}

.img {
  height: 342px;
  width: 498px;
  overflow: hidden;
  border-radius: 4px;
  display: table;
}



.img-select {
  width: 498px;
  object-fit: cover;
  height: 342px;
  border: 1px solid gray;
}

.icon-cross {
  position: fixed;
  top: 20;
  right: -30;
  cursor: pointer;
  font-size: 1.5rem;
}

.color-icon {
  color: #1c2934;
}

.btn-accept,
.btn-cancel,
.btn-clean {
  font-size: 16px;
  border-radius: 5px;
  border: none;
  margin: 0px;
  width: 142px;
  height: 40px;
  display: flex;
  align-items: center;
}

.btn-accept,
.btn-clean {
  padding: 8px 20px;
  background: #1c2934;
  color: rgb(250, 250, 250);
}

.btn-accept:hover,
.btn-clean:hover {
  background: #1c2934db;
}

.btn-cancel {
  padding: 8px 10px;
  border: 1px solid #1c2934;
  color: #1c2934;
  background-color: transparent;
}



.content {
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  // justify-content: center;
  // height: 100%;
  text-align: justify;
}

.state-produtc-active {
  color: #fff;
  background: green;
  border-radius: 3px;
  padding: 4px 7px;
}

.wrapper {
  height: 42px;
  //width: 25px;
  min-width: 10px !important;
  display: flex;
  align-items: center;
  background: #fff;
  border-radius: 9px;
  justify-content: center;
  background: #fff;
  border-radius: 9px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

.wrapper span {
  width: 100%;
  text-align: center;
  font-size: 15px;
  font-weight: 600;

}

.num {
  border: none;
  outline: none;
  background: #fff;
  border-radius: 9px;
  height: 42px;
  font-size: 15px;
  font-weight: 600;
}

.wrapper span .num {
  font-size: 10px;
  border: transparent !important;
  // border-right: 2px solid #1c2934;
  // border-left: 2px solid #1c2934;
}


.color-i {
  color: rgba(128, 128, 128, 0.688);
  cursor: pointer;
}

.btn-finish {
  color: #fff;
  background: #282828;
  text-align: center;
  padding: 10px 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  width: 100%;
}

.content-btns {
  display: flex;
  justify-content: end;
  padding-bottom: 8px !important;
}

.btn-eye {
  border: none;
  background: transparent;
  color: #1c2934 !important;
}

.btn-accept,
.btn-cancel {
  font-size: 16px;
  border-radius: 5px;
  border: none;
  margin: 0px;
  width: 142px;
  height: 40px;
  display: flex;
  align-items: center;
}

.btn-accept {
  padding: 8px 20px;
  background: #212121;
  color: rgb(250, 250, 250);
}


@media screen and (max-width: 478px) {

  .btn-accept,
  .btn-cancel,
  .btn-clean {
    font-size: 14px;
    border-radius: 5px;
    border: none;
    margin: 0;
    width: auto;
    height: auto;
    ;
    display: flex;
    align-items: center;
  }

  .btn-accept,
  .btn-clean {
    padding: 8px 13px;
  }

  .content-btns {
    display: flex;
    justify-content: center;
    padding-bottom: 7px !important;
  }
}



:host ::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
  background-color: #212121;
}

:host ::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
  background-color: #1c2934;
}

.bg-table {
  background: #1c2934;
  color: #ffffff;
}

.content {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  align-items: center;

}



.font-title {
  font-weight: 500;
}

.dropzone {
  height: 342px;
  overflow: hidden;
  width: 100%;
  border-radius: 4px;
  display: table;
  background-color: #eee;
  border: dashed 1px #aaa;
}

.btn-file {
  color: #fff;
  background-color: #282828;
  border-radius: 2px;
  padding: 3px 7px;
  border: none;
  text-decoration: none;

}



.text-wrapper {
  display: table-cell;
  vertical-align: middle;
}


.example-container {
  border: 1px solid;
  padding: 10px;
  margin: 10px;
}

:host ::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
  background-color: #212121;
}

:host ::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
  background-color: #1c2934;
}

.example-step-navigation-bar {
  display: flex;
  justify-content: flex-start;
  margin-top: 10px;
}

.example-step {
  background: transparent;
  border: 0;
  margin: 0 10px;
  padding: 10px;
  color: inherit;
}

.example-step.example-active {
  border-bottom: 1px solid;
  font-weight: 600;
}

.nav-button {
  background: transparent;
  border: 1px solid #0FB1B6;
  border-radius: 3px;
  color: inherit;
  padding: 6px 8px;
}

.step {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 5px;
  z-index: 1;
}

.header {
  display: flex;
  justify-content: space-between;
  padding-left: 5%;
  padding-right: 5%;
  margin-bottom: 10px;
}

.activeText {
  color: black;
}

.succes {
  background-color: #e9f4ee;
  padding: 2px 10px;
  border-radius: 8px;
}

.succes span {
  font-size: 12px;
  color: #282828;
  font-weight: 900;
}

.pending {
  background-color: white;
  padding: 2px 10px;
  border-radius: 8px;
  border: 1px solid #a0a0a2;
}

.pending span {
  font-size: 12px;
  color: #a0a0a2;
}

.img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 50%;
  top: 9px;
  left: 10px;
  width: 70px;
  height: 70px;
}

.inProgress {
  background-color: #f1f0f8;
  padding: 2px 10px;
  border-radius: 8px;
}



.img-content {
  padding: 10px;
  border-radius: 6px;
  border-color:  #a0a0a2 ;
  width: 100%;
  background-color: #E4E8EB;
}

.inProgress span {
  font-size: 12px;
  color: #7d78b5;
}

.mutedText {
  color: #a0a0a2 !important;
}

.numberContainer {
  background-color: #282828;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.number {
  font-size: 19px;
  color: white;
  margin-top: 3px;
}

.successColor {
  background-color: #282828;
}

.inProgressColor {
  background-color: #282828;
}

.pendingColor {
  background-color: white;
  border: 3px solid #a0a0a2;
}

.pendingColor span {
  color: #a0a0a2 !important;
}

::ng-deep .mat-progress-bar-fill::after {
  background-color: #282828;
}

::ng-deep .mat-progress-bar-buffer {
  background: #E4E8EB;
}

::ng-deep .mat-progress-bar {
  border-radius: 2px;
}

