<div class="container p-1">
  <div class="border-dialog-title d-flex justify-content-between">
    <h2 class="title-create-schools font-title" mat-dialog-title>
      Crear Empleado
    </h2>
    <mat-icon mat-dialog-close class="mt-2">close</mat-icon>
  </div>
  <mat-dialog-content>
    <div class="p-1 md:p-12">
      <app-cdk-steper linear="true">
        <cdk-step [stepControl]="employeePersonalForm">
          <ng-template cdkStepLabel>
            <span class="stepHeader font-weight-bold"
              >Información Personal</span
            >
          </ng-template>
          <form class="forms-sample" autocomplete="off" [formGroup]="employeePersonalForm">
            <div class="row">
              <div class="col-12 mb-1">
                <mat-form-field class="w-100" appearance="outline">
                  <mat-label>Nombre </mat-label>
                  <input matInput formControlName="name" placeholder="Nombre del Empleado" />
                  <mat-hint
                  *ngIf="validInputFormPersonal('name')"
                    class="text-danger"
                    >Error este campo es <strong>requerido</strong>
                  </mat-hint>

                  <mat-hint
                  *ngIf="validPatter('name')"
                    class="text-danger"
                    >El nombre debe estar bien escrito
                  </mat-hint>
                </mat-form-field>
              </div>
              <div class="col-12">
                <mat-form-field class="w-100" appearance="outline">
                  <mat-label>Otros Nombres </mat-label>
                  <input matInput formControlName="otherName" placeholder="Otros Nombres del Empleado" />
                  <mat-hint
                  *ngIf="validInputFormPersonal('otherName')"
                    class="text-danger"
                    >Error este campo es <strong>requerido</strong>
                  </mat-hint>
                  <mat-hint
                  *ngIf="validPatter('otherName')"
                    class="text-danger"
                    >Debe estar bien escrito
                  </mat-hint>
                </mat-form-field>
              </div>

              <div class="col-12">
                <mat-form-field class="w-100" appearance="outline">
                  <mat-label>Primer Apellido </mat-label>
                  <input matInput formControlName="firstSurname" placeholder="Primer Apellido del Empleado" />
                  <mat-hint
                  *ngIf="validInputFormPersonal('firstSurname')"
                    class="text-danger"
                    >Error este campo es <strong>requerido</strong>
                  </mat-hint>
                  <mat-hint
                  *ngIf="validPatter('firstSurname')"
                    class="text-danger"
                    >El primer apellido debe estar bien escrito
                  </mat-hint>
                </mat-form-field>
              </div>

              <div class="col-12">
                <mat-form-field class="w-100" appearance="outline">
                  <mat-label>Segundo Apellido </mat-label>
                  <input matInput formControlName="secondSurname" placeholder="Segundo Apellido del Cliente" />
                  <mat-hint
                  *ngIf="validInputFormPersonal('secondSurname')"
                    class="text-danger"
                    >Error este campo es <strong>requerido</strong>
                  </mat-hint>
                </mat-form-field>
              </div>
              <div class="col-12">
                <mat-form-field class="w-100" appearance="outline">
                  <mat-label>Genero </mat-label>
                  <mat-select formControlName="gender">
                    <mat-option [value]="undefined"
                      >--- Selecciona un Genero ---</mat-option
                    >
                    <mat-option value="Masculino"> Masculino </mat-option>
                    <mat-option value="Femenino"> Femenino </mat-option>
                    <mat-option value="Otro"> Otro </mat-option>
                  </mat-select>
                  <mat-hint
                  *ngIf="validInputFormPersonal('gender')"
                    class="text-danger"
                    >Error este campo es <strong>requerido</strong>
                  </mat-hint>
                </mat-form-field>
              </div>
            </div>
          </form>
        </cdk-step>
        <cdk-step [stepControl]="employeeContactoForm">
          <ng-template cdkStepLabel>
            <span class="stepHeader font-weight-bold"
              >Información de Contacto</span
            >
          </ng-template>
          <form autocomplete="off" [formGroup]="employeeContactoForm">
            <div class="col-12">
              <mat-form-field class="w-100" appearance="outline">
                <mat-label>Pais </mat-label>
                <mat-select formControlName="country">
                  <mat-option [value]="undefined"
                    >--- Selecciona un Pais ---</mat-option
                  >
                  <mat-option [value]="options" *ngFor="let options of listCountrys"> {{options.name?.common }} </mat-option>
                </mat-select>
                <mat-hint
                  *ngIf="validInputFormContact('gender')"
                    class="text-danger"
                    >Error este campo es <strong>requerido</strong>
                  </mat-hint>
              </mat-form-field>
            </div>
            <div class="col-12">
              <mat-form-field class="w-100" appearance="outline">
                <mat-label>Capital / Departamento / Estado </mat-label>
                <input matInput formControlName="deparment" placeholder="Elije tu zona de ubicación" />
                <mat-hint
                  *ngIf="validInputFormContact('gender')"
                    class="text-danger"
                    >Error este campo es <strong>requerido</strong>
                  </mat-hint>
              </mat-form-field>
            </div>
            <div class="col-12" >
              <mat-form-field class="w-100" appearance="outline">
                <mat-label>Direecion </mat-label>
                <input matInput formControlName="addres" placeholder="Segundo Apellido del Cliente" />
              </mat-form-field>
            </div>
          </form>
          <button  (click)="saveEmployee()" class="btn btn-finish">Finalizar <i class="fa-solid fa-check ml-1"></i> </button>
        </cdk-step>
      </app-cdk-steper>

    </div>
  </mat-dialog-content>
</div>
