:host {
  font-family: 'Comfortaa', cursive !important;

  .icon {
    vertical-align: middle;
    margin-right: 1rem;
    color: #c1c1c1;
  }

  &:hover {
    color: #fff;
  }
}

a {
  font-family: 'Comfortaa', cursive !important;
}

.color-item {
  color: #fff !important;
  font-family: 'Comfortaa', cursive !important;
}



.list-nav {
  border-left: 2px solid #c1c1c1 !important;
  margin-left: 30px;
  font-family: 'Comfortaa', cursive !important;

}

.mat-list-base {
  padding-top: 0 !important;
  display: block;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.logo {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  font-size: 35px;
  color: #fff;


}



.list-item-active::after {
  background: #EBEBEB;
  content: "";
  height: 15px;
  position: absolute;
  right: -8px;
  top: 12px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  width: 15px;

  font-weight: 700 !important;
}


@media screen and (max-width: 800px) {
  .list-item-active {

    color: #EBEBEB !important;
    // height: 15px;
    // position: absolute;
    // right: -8px;
    // top: 12px;
    // -webkit-transform: rotate(-45deg);
    // transform: rotate(-45deg);
    // width: 15px;

    font-weight: 700 !important;
  }
}

.mat-expansion-panel-header-title>.mat-icon {
  transition: 1s;
  transform: rotate(0deg);
}

.list-item-active-menu {
  background: #2a363f;
  color: #fff !important;
}


.mat-list-item {
  color: #fff !important;
  font-size: 1rem;
  height: 44px !important;
  margin-bottom: 10px;
  overflow: hidden;
  position: relative;


  ::ng-deep {
    .mat-list-item-content {
      border-radius: 3px;
      margin: 0 1px;

      &:hover {
        color: #EBEBEB !important;
        font-weight: 700 !important;


        //border-radius: 2px;
        //background: #374152;
      }
    }
  }
}


::ng-deep.mat-expansion-panel-body {
  padding: 0 !important;

}





.app-nav-accordion {
  font-family: 'Comfortaa', cursive !important;

  .mat-expansion-panel {
    border-radius: 0px !important;
    box-shadow: none !important;
    background: transparent;
    border-radius: 3px;
    margin-bottom: 14px !important;


    &:hover {
      color: #fff !important;
      border-radius: 2px !important;

    }

    &.mat-expansion-panel-spacing {
      margin: 0px;
    }



    .mat-expansion-panel-header {
      height: 40px;
      padding: 0px 24px 0px 16px;
      height: 44px !important;

      &:hover {
        //background: #374152;
        color: #fff !important;
        //border-radius: 2px !important;

        font-weight: bold;

      }
    }

    .mat-expansion-panel-header-title {
      font-size: 1rem;

      .mat-panel-title {

        .icon {
          vertical-align: middle;
          margin-right: 1rem;
          color: #ffffff;
        }

        &:hover {
          color: #fff;
        }

        .icon:hover {
          color: #fff;
        }
      }
    }


  }
}

//align element bottom


.position-btn-logout {
  margin-bottom: 30px;
  margin-left: 22px;
  position: absolute;
  bottom: 0;
}
