<mat-nav-list>
  <div class="logo">
    Cidenet
  </div>

  <a
    mat-list-item
    class="color-item text-white"
    [routerLink]="['/dashboard']"
    [routerLinkActive]="['list-item-active']"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    <i class="fa-solid fa-house icon"></i> Inicio
  </a>

  <a
    mat-list-item
    class="color-item text-white"
    [routerLink]="['employee-module/list-employee']"
    routerLinkActive="list-item-active"
  >
    <i class="fa-solid fa-gear icon"></i> Ver Empleados
  </a>
</mat-nav-list>
