:host {
  font-family: 'Comfortaa', cursive !important;
}
:host .icon {
  vertical-align: middle;
  margin-right: 1rem;
  color: #c1c1c1;
}
:host:hover {
  color: #fff;
}
a {
  font-family: 'Comfortaa', cursive !important;
}
.color-item {
  color: #fff !important;
  font-family: 'Comfortaa', cursive !important;
}
.list-nav {
  border-left: 2px solid #c1c1c1 !important;
  margin-left: 30px;
  font-family: 'Comfortaa', cursive !important;
}
.mat-list-base {
  padding-top: 0 !important;
  display: block;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.logo {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  font-size: 35px;
  color: #fff;
}
.list-item-active::after {
  background: #EBEBEB;
  content: "";
  height: 15px;
  position: absolute;
  right: -8px;
  top: 12px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  width: 15px;
  font-weight: 700 !important;
}
@media screen and (max-width: 800px) {
  .list-item-active {
    color: #EBEBEB !important;
    font-weight: 700 !important;
  }
}
.mat-expansion-panel-header-title > .mat-icon {
  transition: 1s;
  transform: rotate(0deg);
}
.list-item-active-menu {
  background: #2a363f;
  color: #fff !important;
}
.mat-list-item {
  color: #fff !important;
  font-size: 1rem;
  height: 44px !important;
  margin-bottom: 10px;
  overflow: hidden;
  position: relative;
}
.mat-list-item ::ng-deep .mat-list-item-content {
  border-radius: 3px;
  margin: 0 1px;
}
.mat-list-item ::ng-deep .mat-list-item-content:hover {
  color: #EBEBEB !important;
  font-weight: 700 !important;
}
::ng-deep.mat-expansion-panel-body {
  padding: 0 !important;
}
.app-nav-accordion {
  font-family: 'Comfortaa', cursive !important;
}
.app-nav-accordion .mat-expansion-panel {
  border-radius: 0px !important;
  box-shadow: none !important;
  background: transparent;
  border-radius: 3px;
  margin-bottom: 14px !important;
}
.app-nav-accordion .mat-expansion-panel:hover {
  color: #fff !important;
  border-radius: 2px !important;
}
.app-nav-accordion .mat-expansion-panel.mat-expansion-panel-spacing {
  margin: 0px;
}
.app-nav-accordion .mat-expansion-panel .mat-expansion-panel-header {
  height: 40px;
  padding: 0px 24px 0px 16px;
  height: 44px !important;
}
.app-nav-accordion .mat-expansion-panel .mat-expansion-panel-header:hover {
  color: #fff !important;
  font-weight: bold;
}
.app-nav-accordion .mat-expansion-panel .mat-expansion-panel-header-title {
  font-size: 1rem;
}
.app-nav-accordion .mat-expansion-panel .mat-expansion-panel-header-title .mat-panel-title .icon {
  vertical-align: middle;
  margin-right: 1rem;
  color: #ffffff;
}
.app-nav-accordion .mat-expansion-panel .mat-expansion-panel-header-title .mat-panel-title:hover {
  color: #fff;
}
.app-nav-accordion .mat-expansion-panel .mat-expansion-panel-header-title .mat-panel-title .icon:hover {
  color: #fff;
}
.position-btn-logout {
  margin-bottom: 30px;
  margin-left: 22px;
  position: absolute;
  bottom: 0;
}
