mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 100;
}
.mat-icon {
  color: #282828;
}
.primary {
  color: #282828;
}
::ng-deep .mat-badge-content {
  color: #1c2934 !important;
  background: #c7c4c4 !important;
}
::ng-deep .mat-progress-bar-fill::after {
  background-color: #282828;
}
::ng-deep .mat-progress-bar-buffer {
  background: #E4E8EB;
}
::ng-deep .mat-progress-bar {
  border-radius: 2px;
}
.loader-container {
  position: fixed;
  width: 100%;
  z-index: 99;
}
.mat-menu {
  width: 500px;
  height: 800px;
}
.nav {
  padding: 10px;
}
ul li {
  list-style: none;
}
button {
  outline: none;
  margin-top: 0;
  margin-bottom: 0;
  border: 0;
  background: transparent;
}
.user {
  font-size: 14px;
  margin-bottom: 8px;
}
mat-toolbar {
  background: #f7f7f7;
}
.user-image {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
.user-image-icon {
  height: 18px;
  font-size: 16px;
}
::ng-deep .mat-menu-content {
  width: 120px;
}
