<mat-toolbar>
  <!-- <div *ngIf="loaderService.isLoading | async" class="loader-container">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div> -->
  <mat-toolbar-row class="justify-content-between">
    <button mat-icon-button (click)="toggleSidebar()" class="mt-2">
      <mat-icon>menu</mat-icon>
    </button>

    <div class="nav d-flex justify-content-between">
      <div class="row mr-2 ml-auto">
        <ul class="row m-0 align-items-center">
          <li>
            <button
              mat-button

              class="user mt-2 d-flex align-items-center"
            >
              <img
                src="https://www.tibs.org.tw/images/default.jpg"
                alt=""
                class="user-image mr-1 p-2"
              />
              Jose Luis Cardona
            </button>

          </li>
        </ul>
      </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

