.paginator {
  margin-top: 10px;
  margin-bottom: 20px !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-link {
  color: #282828;
}



.active>.page-link, .page-link.active {
  color: #fff;
  background-color: #282828;
  border-color: #282828;
}


.cursor {
  cursor: pointer;
}
