<div class="container paginator">
  <ul *ngIf="pages.length > 0" class="pagination pagination-gap ">
    <li class="page-item" *ngIf="paginator.number > 0" class="cursor">
      <a class="page-link" (click)="routerLink(paginator.number - 1)">&laquo;</a>
    </li>

    <li [ngClass]="paginator.first ? 'disabled page-item' : 'page-item'" class="cursor">
      <a class="page-link" (click)="routerLink(0)">Primera</a>
    </li>

    <li
    class="cursor"
      *ngFor="let page of pages"
      [ngClass]="page - 1 == paginator.number ? 'page-item active' : 'page-item'"
    >
      <span class="page-link" *ngIf="page - 1 == paginator.number">{{
        page
      }}</span>
      <a
      class="cursor"
        *ngIf="page - 1 != paginator.number"
        class="page-link"
        (click)="routerLink(page - 1)"
        >{{ page }}</a
      >
    </li>

    <li class="cursor" [ngClass]="paginator.last ? ' disabled page-item' : 'page-item'">
      <a class="page-link" (click)="routerLink(paginator.totalPages - 1)"
        >Última</a
      >
    </li>

    <li class="page-item cursor" *ngIf="paginator.number < paginator.totalPages - 1">
      <a class="page-link" (click)="routerLink(paginator.number + 1)">&raquo;</a>
    </li>
  </ul>
</div>
