<mat-drawer-container>
  <mat-drawer [mode]="mobileQuery.matches ? 'over' : 'side'" [opened]="sideBarOpen">
    <app-sidebar></app-sidebar>
  </mat-drawer>
  <mat-drawer-content class="bg-container">
    <app-navbar (toggleSidebarForMe)="sideBarToggler()"></app-navbar>
    <router-outlet></router-outlet>
  </mat-drawer-content>

</mat-drawer-container>
