:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
mat-drawer {
  width: 260px;
  margin-right: 20px;
}
.menu-close {
  width: 70px;
}
.menu-open {
  width: 260px;
  margin-right: 20px;
}
mat-drawer-container {
  height: 100%;
}
mat-drawer {
  background: #282828;
  border-right: 2px solid #EBEBEB;
}
@media screen and (max-width: 800px) {
  mat-drawer {
    background: #282828;
    border-right: 2px solid transparent;
  }
}
.bg-container {
  background: #EBEBEB;
}
@media screen and (max-width: 600px) {
  mat-drawer {
    width: 225px;
  }
}
